.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(768px - var(--layout-spacing) * 2);
}

.about h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.about h4 {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
}

.about hr {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-top: 1px solid var(--color-muted);
}

.intro {
  max-width: 700px;
}

.avatar-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-muted);
}
