.about {
  max-width: 768px;
  font-size: 1.125rem;
  line-height: 1.6;
}

.about h2 {
  margin-block: 2rem 0.5rem;
  font-size: 1.5rem;
}

.about h3 {
  margin-block: 2rem 0.5rem;
  font-size: 1.17rem;
}
