.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(768px - var(--layout-spacing) * 2);
}

.about :global(.name) {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.about :global(.title) {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
}

.about :global(.links) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.about :global(.links a) {
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
}

.about hr {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-top: 1px solid var(--color-muted);
}

.about :global(.intro) {
  max-width: 700px;
}

.about :global(.avatar-wrapper) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-muted);
}

.about :global(.avatar-wrapper:hover img) {
  transform: scale(1.05);
}
