.wrapper {
  position: relative;
  display: inline-block;
}

.popover {
  position: absolute;
  top: calc(100% + 0.25rem);
  right: 0;
  min-width: 160px;
  background: var(--color-popover);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: 0 1px 2px 0 var(--color-shadow);
  padding: 0.25rem;
  z-index: 100;
}

.item {
  justify-content: left;
  width: 100%;
}

.check {
  margin-left: auto;
}
