@layer components {
  .btn {
    --hover-mix-rate: 90%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--radius);
    background-color: var(--bg-color);
    padding: 0;
    font-family: inherit;
    font-size: var(--text-sm);
    white-space: nowrap;
    box-shadow: 0 1px 2px 0 var(--color-shadow);

    &.primary {
      --bg-color: var(--color-primary);
      color: var(--color-primary-foreground);
    }

    &.secondary {
      --bg-color: var(--color-secondary);
      color: var(--color-secondary-foreground);
      --hover-mix-rate: 80%;
    }

    &.outline {
      --bg-color: var(--color-background);
      color: inherit;
      border: 1px solid var(--color-border);
    }

    &.ghost {
      --bg-color: transparent;
      color: inherit;
      box-shadow: none;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    > svg {
      width: 1rem;
      height: 1rem;
    }

    &:has(> svg) {
      gap: 0.5rem;
    }

    &.sm {
      height: 2rem;
      padding-inline: 0.75rem;
    }

    &.md {
      height: 2.25rem;
      padding-inline: 1rem;
    }

    &.lg {
      height: 2.5rem;
      padding-inline: 1.25rem;
    }

    &.icon-only {
      aspect-ratio: 1 / 1;
      padding-inline: 0;
    }

    &:hover {
      background-color: color-mix(
        in oklab,
        var(--bg-color) var(--hover-mix-rate),
        transparent
      );

      &.outline,
      &.ghost {
        --bg-color: var(--color-accent);
        color: var(--color-accent-foreground);
        --hover-mix-rate: 100%;
      }
    }
  }
}
