@layer layout {
  :root {
    --header-height: 48px;
    --layout-width: 1024px;
    --layout-spacing: 20px;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    height: var(--header-height);
    background-color: var(--color-background);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: var(--layout-width);
    padding-inline: var(--layout-spacing);
  }

  .main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: var(--layout-width);
    min-height: calc(100vh - var(--header-height));
    padding-inline: var(--layout-spacing);
  }
}
