.md-body {
  font-size: var(--text-lg);
  line-height: 1.6;
  word-break: keep-all;
}

.md-body h1,
.md-body h2,
.md-body h3,
.md-body h4,
.md-body h5,
.md-body h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.md-body h1 {
  font-size: 2rem;
}

.md-body h2 {
  font-size: 1.5rem;
}

.md-body h3 {
  font-size: 1.25rem;
}

.md-body h4 {
  font-size: 1rem;
}

.md-body h5 {
  font-size: 0.875rem;
}

.md-body h6 {
  font-size: 0.85rem;
}

.md-body p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.md-body strong {
  font-weight: 650;
}

.md-body code,
.md-body pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: var(--text-sm);
  background-color: var(--color-muted);
  border-radius: var(--radius);
  line-height: 1.6;
}

.md-body code {
  padding: 0.2rem 0.4rem;
}

.md-body pre {
  padding: 1rem;
}

.md-body pre code {
  padding: 0;
}

.md-body a {
  text-decoration: underline;
}

.md-body ul,
.md-body ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
}

.md-body ol:has(:nth-child(10)) {
  padding-left: 2rem;
}

.md-body li + li {
  margin-top: 0.5rem;
}

.md-body li p {
  margin-bottom: 0.5rem;
}
