@layer theme {
  :root {
    --color-gray-0: #fff;
    --color-gray-50: oklch(0.98 0.0002 270);
    --color-gray-100: oklch(0.9595 0.0009 270);
    --color-gray-200: oklch(0.9038 0.0028 270);
    --color-gray-300: oklch(0.8217 0.0064 270);
    --color-gray-400: oklch(0.722 0.0112 270);
    --color-gray-500: oklch(0.6131 0.0154 270);
    --color-gray-600: oklch(0.5021 0.017 270);
    --color-gray-700: oklch(0.3952 0.0155 270);
    --color-gray-800: oklch(0.297 0.012 270);
    --color-gray-900: oklch(0.2111 0.008 270);
    --color-gray-950: oklch(0.14 0.0047 270);
  }

  :root {
    /* 기본값: 라이트 테마 */
    --color-background: #fff;
    --color-foreground: var(--color-gray-950);
    --color-muted: var(--color-gray-100);
    --color-muted-foreground: var(--color-gray-500);
    --color-popover: #fff;
    --color-popover-foreground: var(--color-gray-950);
    --color-card: #fff;
    --color-card-foreground: var(--color-gray-950);
    --color-border: var(--color-gray-200);
    --color-input: var(--color-gray-200);
    --color-primary: var(--color-gray-900);
    --color-primary-foreground: var(--color-gray-50);
    --color-secondary: var(--color-gray-100);
    --color-secondary-foreground: var(--color-gray-900);
    --color-accent: var(--color-gray-100);
    --color-accent-foreground: var(--color-gray-900);
    --color-focus: var(--color-gray-400);
    --color-shadow: #0000000d;

    --text-sm: 0.875rem;
    --text-lg: 1.125rem;
    --radius: 0.375rem;
  }

  /* 다크 테마 */
  [data-theme="dark"] {
    --color-background: var(--color-gray-950);
    --color-foreground: var(--color-gray-50);
    --color-muted: var(--color-gray-800);
    --color-muted-foreground: var(--color-gray-400);
    --color-popover: var(--color-gray-950);
    --color-popover-foreground: var(--color-gray-50);
    --color-card: var(--color-gray-950);
    --color-card-foreground: var(--color-gray-50);
    --color-border: var(--color-gray-800);
    --color-input: var(--color-gray-800);
    --color-primary: var(--color-gray-50);
    --color-primary-foreground: var(--color-gray-900);
    --color-secondary: var(--color-gray-800);
    --color-secondary-foreground: var(--color-gray-50);
    --color-accent: var(--color-gray-800);
    --color-accent-foreground: var(--color-gray-50);
    --color-focus: var(--color-gray-300);
    --color-shadow: #ffffff0f;
  }
}
